/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  max-width: 280px;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 10px;
  margin: 10px;
}

.card-sub-text {
  font-size: 14px;
}

.card-button {
  background-color: blue;
  color: #fff;
  border: 0;
  padding: 8px 8px;
  border-radius: 10px;
}

 */


 @font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

 /* 전체 화면을 정중앙에 배치 */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000; /* 배경 검정색 */
  color: white; /* 텍스트 흰색 */
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* 로그인 컨테이너 스타일 */
div {
  text-align: center;
  max-width: 300px;
  padding: 20px;
  background-color: #30095c; /* 컨테이너 배경 바꾸기*/
  border-radius: 10px;
}

h1 {
  font-size: 36px; /* 제목 크기 */
  margin-bottom: 20px;
  font-family: 'TTLaundryGothicB';

}

input {
  width: 100%; /* 입력 필드 너비 100% */
  padding: 10px;
  margin: 10px 0;
  background-color: #333; /* 입력 필드 배경 어두운 색 */
  border: none;
  border-radius: 5px;
  color: white;
  box-sizing: border-box;
}

button {
  width: 100%; /* 버튼 너비 100% */
  padding: 10px;
  margin: 10px 0;
  background-color: white; /* 버튼 배경 흰색 */
  color: black; /* 버튼 텍스트 검정색 */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;

}

p {
  margin: 20px 0;
}

a {
  color: #4A90E2; /* 링크 색상 */
  text-decoration: none;
}

/* Google 버튼 */
button:last-of-type {
  background-color: black;
  border: 1px solid white;
  color: white;
}
